global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node'
    static_configs:
      - targets: ['wolf-node-exporter:9100']

  - job_name: 'wolf-pipeline'
    static_configs:
      - targets: ['host.docker.internal:9091']
    metrics_path: /metrics

  - job_name: 'postgres'
    static_configs:
      - targets: ['host.docker.internal:9187']
